MAILGUN_API_KEY=<mailgun api key>
MAILGUN_DOMAIN=<mailgun domain>
SENDER_EMAIL=<mailgundomain@gmail.com>
RECEIVER_EMAIL=receiver@gmail.com
URL=<url of your amazon wishlist (must be the link when clicking share wishlist)>
DELTA=<price delta to get notification (defaults to $10)>
DATA_PATH=<wherever you want the prices.csv file to live (defaults to current directory)>
AMAZON_STORAGE_STATE=<raw secret cookies>
